#alert-popup {
    position: absolute;
    bottom: 20%;
    left: 5%;
    display: block;
    width: 80%;
    margin: 1em;
    padding: 0.25em;
    color: white;
    font-size: 0.75em;
    text-align: center;
    background-color: #444;
}
