span {
    margin-right: 0.5em;
}

div.debug {
    position: fixed;
    bottom: 20px;
    left: 10px;
    z-index: 1;
    width: 100%;
    color: limegreen;
    font-size: 0.75em;
}

#alert-popup {
    position: absolute;
    bottom: 20%;
    left: 5%;
    display: block;
    width: 80%;
    margin: 1em;
    padding: 0.25em;
    color: white;
    font-size: 0.75em;
    text-align: center;
    background-color: #444;
}

#place-label {
    position: absolute;
    top: 5%;
    left: 0%;
    display: flex;
    justify-content: center;
    width: 100%;
}

#place-label > span {
    z-index: 99999;
    padding: 0.25em;
    color: white;
    font-size: 1.5em;
}
